* {
  background-color: rgba(0, 0, 0, 0);
  color: @text;
  border: none;
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

window {
  background-color: @background;
  padding: 8px;
  border: 2px solid @accent;
  border-radius: 8px;
  animation: slideIn 0.5s ease-in-out both;
}

#inner-box {
  padding: 4px;
  border-radius: 8px;
  animation: slideIn 0.5s ease-in-out both;
}

#outer-box {
  padding: 4px;
  border-radius: 8px;
}

#scroll {
  padding: 8px;
}

#input {
  padding: 4px;
  margin-left: 8px;
  animation: fadeIn 0.5s ease-in-out both;
}

#text {
  padding: 4px;
  margin-left: 8px;
  border: none;
  animation: fadeIn 0.5s ease-in-out both;
}

#entry:selected #text {
  color: @primary;
  background-color: @selection;
}
