[Unit]
Description=radicale
Documentation=https://radicale.org/v3.html
After=syslog.target network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/radicale --config ~/.config/radicale/config
Restart=on-failure

[Install]
WantedBy=default.target
