* {
  font-family: 'JetBrains Mono Nerd Font', monospace;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  color: @foreground;
  border: none;
  margin: 0;
  padding: 0;
}

window {
  background-color: @background;
}

button {
  background-color: @black;
  border-radius: 8px;
  margin: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:hover {
  background-color: @magenta;
}

button:hover label {
  color: @bright-cyan;
}