[core]
excludesfile = "~/.gitexcludes"
pager = delta

[user]
name = Hrle
email = 32d9c8c6-8118-45e7-857e-8b45522f395d@anonaddy.me
signingkey = 8A2BB645A7A84277A9D6BC41987A64C9A6B34535

[interactive]
singleKey = true
diffFilter = delta --color-only

[init]
defaultBranch = main

[commit]
gpgsign = true

[pull]
rebase = true

[submodule]
recurse = true

[push]
default = upstream
followTags = true

[rerere]
enabled = true

[merge]
tool = vimdiff
conflictstyle = diff3

[mergetool "vimdiff"]
path = nvim

[diff]
guitool = vimdiff
colorMoved = default

[color]
ui = auto

[delta]
navigate = true

[url "https://github.com/"]
insteadOf = git://github.com/
