* {
  border: none;
  margin: 0;
  padding: 0;
}

window {
  background-color: rgba(0, 0, 0, 0);
}

#tray,
#custom-powermenu,
#custom-layout,
#cpu,
#temperature,
#memory,
#workspaces,
#clock,
#window,
#pulseaudio,
#network,
#battery {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 4px 16px;
  margin: 4px 4px;

  background-image: 
      linear-gradient(to right, @bright-yellow, @black),   /* Top border */
      linear-gradient(to right, transparent, transparent), /* Fake background */
      linear-gradient(to bottom, @black, @bright-yellow), /* Right border */
      linear-gradient(to bottom, transparent, transparent), /* Fake background */
      linear-gradient(to left, @bright-yellow, @black),   /* Bottom border */
      linear-gradient(to left, transparent, transparent), /* Fake background */
      linear-gradient(to top, @black, @bright-yellow);    /* Left border */
  background-position: 
      top left, 
      center, 
      top right, 
      center, 
      bottom left, 
      center, 
      top left;
  background-repeat: no-repeat;
  background-size: 
      100% 1px,    /* Top border height */
      100% calc(100% - 2px), /* Background in the center */
      1px 100%,    /* Right border width */
      calc(100% - 2px) 100%, /* Background in the center */
      100% 1px,    /* Bottom border height */
      100% calc(100% - 2px), /* Background in the center */
      1px 100%;    /* Left border width */
}

#workspaces button {
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 8px;
  color: @foreground;
}

#workspaces button.active label {
  color: @bright-yellow;
}

#battery {
  color: @bright-red;
}

#custom-powermenu {
  color: @bright-red;
  padding-right: 18px;
  padding-bottom: 4px;
  margin-right: 8px;
}

#pulseaudio {
  color: @bright-green;
  padding-right: 14px;
}

#cpu {
  color: @bright-cyan;
  min-width: 48px;
}

#temperature {
  color: @bright-yellow;
}

#memory {
  color: @bright-cyan;
}

#network {
  color: @bright-magenta;
  min-width: 200px;
}

#clock {
  color: @bright-cyan;
  margin-left: 8px;
}

#custom-layout {
  color: @bright-magenta;
  margin-left: 8px;
}
