* {
  border: none;
  margin: 0;
  padding: 0;
}

window {
  background-color: rgba(0, 0, 0, 0);
}

#tray,
#custom-powermenu,
#custom-layout,
#cpu,
#temperature,
#memory,
#workspaces,
#clock,
#window,
#pulseaudio,
#network,
#battery {
  background-color: @transparent;
  border-radius: 8px;
  padding: 4px 16px;
  margin: 4px 4px;
}

#workspaces button {
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 8px;
  color: @text;
}

#workspaces button.active label {
  color: @accent;
}

#battery {
  color: @text;
}

#custom-powermenu {
  color: @secondary;
  padding-right: 20px;
  padding-bottom: 6px;
  margin-right: 8px;
}

#pulseaudio {
  color: @text-alternate;
  padding-right: 14px;
}

#cpu {
  color: @text-alternate;
  min-width: 48px;
}

#temperature {
  color: @text-alternate;
}

#memory {
  color: @text-alternate;
}

#network {
  color: @text-alternate;
  min-width: 200px;
}

#clock {
  color: @text;
  margin-left: 8px;
}

#custom-layout {
  color: @primary;
  margin-left: 8px;
}
