prefer-no-csd

input {
  focus-follows-mouse
  keyboard {
    track-layout "global"
    xkb {
      layout "us"
    }
  }
}

hotkey-overlay {
  skip-at-startup
}

window-rule {
  geometry-corner-radius 8 8 8 8
  clip-to-geometry true
}
