* {
  border: none;
  margin: 0;
  padding: 0;
}

window {
  background-color: rgba(0, 0, 0, 50);
}

button {
  background-color: @background;
  border-radius: 8px;
  margin: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:hover {
  background-color: @foreground;
}

button:hover label {
  color: @background;
}
