* {
  border: none;
  margin: 0;
  padding: 0;
}

window {
  background-opacity: 50%;
}

button {
  background-color: @background;
  border-radius: 8px;
  margin: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
}

button:hover {
  background-color: @magenta;
}

button:hover label {
  color: @black;
}

svg {
  color: @bright-red
}
