* {
  background-color: rgba(0, 0, 0, 0);
  color: @foreground;
  border: none;
  margin: 0;
  padding: 0;
}

#tray,
#custom-powermenu,
#cpu,
#temperature,
#memory,
#workspaces,
#clock,
#window,
#pulseaudio,
#network,
#battery {
  background-color: @background;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 6px 4px;
}

#workspaces button {
  padding-right: 4px;
  padding-left: 4px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 8px;
  color: @foreground;
}

#workspaces button.active label {
  color: @bright-yellow;
}

#battery {
  color: @bright-red;
}

#custom-powermenu {
  color: @bright-red;
  padding-right: 11px;
  padding-bottom: 4px;
  margin-right: 8px;
}

#pulseaudio {
  color: @bright-green;
  padding-right: 14px;
}

#cpu {
  color: @bright-cyan;
}

#temperature {
  color: @bright-yellow;
}

#memory {
  color: @bright-cyan;
}

#network {
  color: @bright-magenta;
  min-width: 200px;
}

#clock {
  color: @bright-cyan;
  margin-left: 8px;
}

#custom-layout {
  color: @bright-magenta;
  margin-left: 8px;
}
