* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

#waybar {
  background-color: @background;
  font-size: 14px;
  font-family: "Hack Nerd Font";
}

#workspaces button {
  padding-inline: 5px;
  color: @foreground;
}

#workspaces button.active {
  color: @magenta;
}

#custom-powermenu,
#cpu,
#temperature,
#memory,
#workspaces,
#clock,
#window,
#pulseaudio,
#network {
  background-color: @black;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 6px 4px;
}

#window {
  color: #929db1;
}

#tray {
  margin-inline: 4px;
}

#custom-powermenu {
  color: @red;
  padding-right: 11px;
  margin-right: 8px;
}

#pulseaudio {
  color: @green;
  padding-right: 14px;
}

#cpu {
  color: @cyan;
}

#temperature {
  color: @yellow;
}

#memory {
  color: @blue;
}

#network {
  color: @magenta;
  min-width: 200px;
}

#clock {
  color: @white;
  margin-left: 8px;
}